---
layout: default
---

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<!-- Content -->
							<article class="box post">
								<header>
									<h2>{{ page.title }}</h2>
									<p>{{ page.snippet }}</p>
								</header>
								{{ content }}
							</article>
							<style>#forkongithub a{background:#222;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#333;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:1px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:270px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style>
							<span id="forkongithub">
								<a href="{{ page.github-url }}">
									View me on GitHub <i class="fa fa-github" aria-hidden="true"></i>
								</a>
							</span>


					</div>
				</div>
